header {
  text-align: center;
  background-color: black;
  position: relative;
  height: 3rem;
  z-index: 2;
  border-bottom: 20px solid grey;
}


a, li, i {
  color: bisque;
  text-decoration: none;
  font-size: 2rem;
}

a, li {
  font-family: 'Permanent Marker', cursive;
  list-style: none;
}

h1 {
  margin: 0;
}

.dashboard-links {
  position: absolute;
  left: 0px;
  text-align: left;
}

.menu {
  background-color: black;
  position: relative;
  min-width: 250px; 
}

.menu a {
  display: block;
  /* cursor: pointer; */
}