.hero-detail {
  position: absolute;
  display: grid;
  top: 3rem;
  background-color: rgba(255, 228, 196, .8);
  box-sizing: border-box;
  width: calc(100% - 2rem);
  padding: 0 5%;
}

.hero-detail-name {
  grid-column: 1/2;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.hero-detail-image {
  max-width: 300px;
}

.hero-description {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

@media (min-width: 900px) {
  .hero-detail {
    width: calc(75% - 2rem);
    padding: 0 20%;
  }
}