.hero-detail {
  display: grid;
  box-sizing: border-box;
  padding: 0 1rem;
  margin: 0;
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.hero-detail-name {
  grid-column: 1/2;
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

.hero-detail-image {
  max-width: 300px;
}

.hero-description {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

@media (min-width: 900px) {
  .hero-detail {
    width:calc(40vw - 2rem);
  }
}